.error-section {
  text-align: center;
  padding: 60px 0;
}
.error-section__title {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  color: #404040;
}
.error-section__image {
  max-width: 600px;
  display: block;
  margin: auto;
}
@media (min-width: 992px) {
  .error-section {
    padding: 80px 0;
  }
}

/*# sourceMappingURL=404.css.map */
