@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
.about-section {
  padding: 60px 0;
}
.about-section__title {
  color: #CBA67A;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about-section__subtitle {
  color: #404040;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}
.about-section__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.about-section__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about-section__image {
  position: relative;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.about-section__image-squares {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.about-section__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.about-section__image-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-section__image-container:before {
  content: "";
  display: block;
  padding-top: 88.8157894737%;
}
.about-section__image-container {
  margin-right: 75px;
  border-radius: 8px;
  overflow: hidden;
  max-height: 360px;
}
@media (min-width: 992px) {
  .about-section {
    padding: 80px 0;
    padding-bottom: 60px;
  }
}

.owner__background {
  position: relative;
  background-color: #CBA67A;
  border-radius: 8px;
  margin-top: 170px;
  margin-bottom: 80px;
}
.owner__photo-container {
  position: relative;
  height: 270px;
}
.owner__photo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 440px;
  max-width: 100%;
}
.owner__squares {
  position: absolute;
  right: 40px;
  top: -100px;
}
.owner__caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding: 0 60px;
}
.owner__name {
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 992px) {
  .owner__caption {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px;
    align-items: center;
  }
}

/*# sourceMappingURL=about.css.map */
