.contact-section {
  padding: 60px 0;
}
.contact-section__card {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.contact-section__illustration-container {
  height: 100%;
  min-height: 200px;
  position: relative;
  border-radius: 0px 0px 8px 8px;
  overflow: hidden;
}
.contact-section__illustration {
  object-fit: cover;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.contact-section__form {
  padding: 20px;
}
@media (min-width: 992px) {
  .contact-section {
    padding: 80px 0;
  }
  .contact-section__form {
    padding: 40px;
  }
  .contact-section__illustration-container {
    border-radius: 8px 0px 0px 8px;
  }
}

/*# sourceMappingURL=contact.css.map */
