@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
.home__separator {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.hero {
  position: relative;
  background-image: url("../../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;
}
.hero::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 100%);
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
}
.hero .container {
  z-index: 1;
  text-align: center;
}
.hero__company-name {
  display: block;
}
.hero__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 30px;
}
.hero__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 18px;
}
@media (min-width: 992px) {
  .hero {
    padding-top: 137px;
    padding-bottom: 183px;
  }
  .hero::before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%);
  }
  .hero .container {
    text-align: left;
  }
  .hero__company-name {
    display: inline;
  }
  .hero__subtitle {
    margin-bottom: 18px;
  }
  .hero__title {
    line-height: 64px;
    margin-bottom: 36px;
  }
}

.about-section {
  padding: 60px 0;
}
.about-section__title {
  color: #CBA67A;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about-section__subtitle {
  color: #404040;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}
.about-section__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  font-size: "16px";
  line-height: 1.4;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.about-section__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about-section__image {
  position: relative;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.about-section__image-squares {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.about-section__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.about-section__image-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-section__image-container:before {
  content: "";
  display: block;
  padding-top: 88.8157894737%;
}
.about-section__image-container {
  margin-right: 75px;
  border-radius: 8px;
  overflow: hidden;
  max-height: 360px;
}
@media (min-width: 992px) {
  .about-section {
    padding: 80px 0;
  }
}

.products-section {
  text-align: center;
  padding: 60px 0;
  position: relative;
}
.products-section__title {
  color: #CBA67A;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
.products-section__subtitle {
  color: #404040;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 54px;
}
.products-section__image-squares {
  position: absolute;
  left: 0px;
  margin-top: 114px;
}
@media (min-width: 992px) {
  .products-section {
    padding: 80px 0;
  }
  .products-section__image-squares {
    left: 70px;
    margin-top: 75px;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
}
.contact-section__contact {
  background-color: #907f6a;
  width: 100%;
  padding: 20px 0;
  position: relative;
}
.contact-section__maps {
  width: 100%;
  line-height: 0;
}
.contact-section__image-squares {
  position: absolute;
  bottom: 12px;
  left: 12px;
}
@media (min-width: 992px) {
  .contact-section {
    flex-direction: row;
  }
  .contact-section__image-squares {
    bottom: 30px;
    left: 30px;
  }
  .contact-section__contact {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 40%;
  }
  .contact-section__maps {
    width: 60%;
  }
}

/*# sourceMappingURL=index.css.map */
