@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
.products-section {
  text-align: center;
  padding: 60px 0;
}
@media (min-width: 992px) {
  .products-section {
    padding: 80px 0;
  }
}

/*# sourceMappingURL=products.css.map */
