.detail-section {
  padding: 60px 0;
}
.detail-section__images-container {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.detail-section__image-squares {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
}
.detail-section__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.detail-section__image-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail-section__image-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.detail-section__image-container {
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
}
@media (min-width: 992px) {
  .detail-section {
    padding: 80px 0;
  }
  .detail-section__image-squares {
    max-width: 200px;
  }
}

/*# sourceMappingURL=product-detail.css.map */
