@import "abstracts/variables";
@import "abstracts/mixins";

@import "vendors/bootstrap/bootstrap";

@import "layout/header";
@import "layout/footer";

@import "components/product-card";
@import "components/contact-card";
@import "components/ui-breadcrumb";
@import "components/ui-hero";

body {
    padding-top: 56px;
}

.btn {
    border-width: 2px;
    font-weight: 600;
  }