.contact-card {
   
    background-color: $primary;
    color: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 18px;
   
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__icon {
        margin-right: 8px;
        width: 40px;
    }
    &__label {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 21px;
    }
    &__value {
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        margin-bottom: 0;
    }
    @media (min-width: 992px) {
        padding: 38px;
        position: absolute;
        margin-left: 28px;
        // margin-left: 99.6px;
        width: 540px;
        &__value {
            font-size: 18px;
            line-height: 27px;
        }
        &__icon {
            width: 60px;
        }
    }
    @media (min-width: 1400px) {
        margin-left: 99.6px;
        width: 540px;
    }
}