.product-card {
  display: block;
  padding: 4px;
  text-decoration: none;
  margin-bottom: 20px;
  @include imageRatio(1, 1);
  &__image-container {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 24px;
    transition: all .3s ease;
  }

  &__title {
    color: $secondary;
    font-size: 18px;
    font-weight: 600;
    transition: all .3s ease;
  }

  &:hover {
    .product-card {
      &__image-container {
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));
      }
      &__title {
        color: $primary;
      }
    }
  }

  @media (min-width: 992px) {
    padding: 10px 20px;
    
  }
}
