.ui-hero {
    background-image: url("../img/hero-sm.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 0;
    text-align: center;
    &__title {
        color: #fff;
        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
        margin: 0;
        display: inline-block;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 6px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $primary;
        }
    }
}