.footer {
    background-color: $dark;
    color: #fff;
    &__logo {
        display: block;
        // margin: auto;
        margin-bottom: 30px;
    }
    &__content {
        padding: 60px 0;
    }
    &__header {
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        margin-bottom: 24px;
    }
    &__copyright {
        border-top: 1px solid #fff;
        padding: 20px 0;
        text-align: center;
        font-size: 14px;
    }
    &__list {
        list-style: none;
        padding: 0;
    }
    &__list-item {
        margin-bottom: 16px;
    }
    &__list-item-link {
        display: inline;
        color: rgba($color: #fff, $alpha: .8);
        text-decoration: none;
        font-weight: 400;
        transition: color .3s ease;
        &:hover {
            color: #fff;
        }
    }
    &__address-item {
        margin-bottom: 16px;
    }
    &__address-label {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 14px;
    }
    &__address-link {
        color: rgba($color: #fff, $alpha: .8);
        text-decoration: none;
        font-weight: 400;
        transition: color .3s ease;
        &:hover {
            color: #fff;
        }
    }
    &__social-icon {
        width: 20px;
        height: 20px;
    }
    &__social-link {
        text-decoration: none;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #FFFFFF;
        transition: background .3s ease;
        &:hover {
            background-color: $primary;
        }
    }
    &__contact-item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    &__contact-icon {
        width: 20px;
        // padding: 4px;
        // background-color: rgba($color: #fff, $alpha: .2);
        // border-radius: 16px;
        margin-right: 8px;
    }
    &__contact-link {
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        font-weight: 400;
        color: rgba($color: #fff, $alpha: .8);
        transition: color .3s ease;
        &:hover {
            color: #fff;
        }

    }
}