@media (min-width: 992px) {
  .navbar {
    .navbar-nav {
      .nav-link {
        position: relative;
        margin-left: 16px;
        &.active {
          &::before {
            content: "";
            position: absolute;
            height: 4px;
            left: 0;
            right: 0;
            bottom: -8px;
            background-color: $primary;
          }
        }
      }
    }
  }
}
