.error-section {
    text-align: center;
    padding: 60px 0;
    &__title {
        font-size: 36px;
        font-weight: 600;
        margin: 0;
        color: #404040;
    }
    &__image {
        max-width: 600px;
        display: block;
        margin: auto;
    }
    
    @media (min-width: 992px) {
      padding: 80px 0;
    }
}