@import "../abstracts/variables";
@import "../abstracts/mixins";

.about-section {
  padding: 60px 0;
  &__title {
    color: $primary;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  &__subtitle {
    color: $dark;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__image {
    position: relative;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__image-squares {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
  @include imageRatio(456, 405);
  &__image-container {
    margin-right: 75px;
    border-radius: 8px;
    overflow: hidden;
    max-height: 360px;
  }

  @media (min-width: 992px) {
    padding: 80px 0;
    padding-bottom: 60px;
  }
}

.owner {
  &__background {
    position: relative;
    background-color: $primary;
    border-radius: 8px;
    margin-top: 170px;
    margin-bottom: 80px;
  }
  &__photo-container {
    position: relative;
    // background-color: red;
    height: 270px;
  }
  &__photo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-height: 440px;
    max-width: 100%;
  }
  &__squares {
    position: absolute;
    right: 40px;
    top: -100px;
  }
  &__caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding: 0 60px;
  }
  &__name {
    font-weight: 600;
    font-size: 24px;
  }

  @media (max-width: 992px) {
    &__caption {
      background-color: rgba($color: #000000, $alpha: 0.1);
      border-radius: 8px;
      padding: 24px;
      align-items: center;
    }
  }
}
