.contact-section {
  padding: 60px 0;

  &__card {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  &__illustration-container {
      height: 100%;
      min-height: 200px;
      position: relative;
      border-radius: 0px 0px 8px 8px;
      overflow: hidden;
  }
  &__illustration {
      object-fit: cover;
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
  }
  &__form {
      padding: 20px;
  }
  @media (min-width: 992px) {
    padding: 80px 0;
    &__form {
        padding: 40px;
    }
    &__illustration-container {
        border-radius: 8px 0px 0px 8px;
    }
}
}
