@import "../abstracts/variables";
@import "../abstracts/mixins";

.home__separator {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.hero {
  position: relative;
  background-image: url("../../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.1) 100%
    );
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
  }

  .container {
    z-index: 1;
    text-align: center;
  }

  &__company-name {
    display: block;
  }

  &__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 30px;
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 18px;
  }

  @media (min-width: 992px) {
    padding-top: 137px;
    padding-bottom: 183px;

    &::before {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 60%
      );
    }

    .container {
      text-align: left;
    }

    &__company-name {
      display: inline;
    }

    &__subtitle {
      margin-bottom: 18px;
    }

    &__title {
      line-height: 64px;
      margin-bottom: 36px;
    }
  }
}

.about-section {
  padding: 60px 0;
  &__title {
    color: $primary;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  &__subtitle {
    color: $dark;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    @include elypsis("16px", 6);
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__image {
    position: relative;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__image-squares {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
  @include imageRatio(456, 405);
  &__image-container {
    margin-right: 75px;
    border-radius: 8px;
    overflow: hidden;
    max-height: 360px;
  }

  @media (min-width: 992px) {
    padding: 80px 0;
  }
}

.products-section {
  text-align: center;
  padding: 60px 0;
  position: relative;
  &__title {
    color: $primary;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  &__subtitle {
    color: $dark;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 54px;
  }

  &__image-squares {
    position: absolute;
    left: 0px;
    margin-top: 114px;
  }

  @media (min-width: 992px) {
    padding: 80px 0;
    &__image-squares {
      left: 70px;
      margin-top: 75px;
    }
  }
}

.contact-section {
  display: flex;
  flex-direction: column;

  &__contact {
    background-color: #907f6a;
    width: 100%;
    padding: 20px 0;
    position: relative;
  }
  &__maps {
    width: 100%;
    line-height: 0;
  }
  &__image-squares {
    position: absolute;
    bottom: 12px;
    left: 12px;
  }

  @media (min-width: 992px) {
    flex-direction: row;
    &__image-squares {
      bottom: 30px;
      left: 30px;
    }
    &__contact {
      padding-top: 80px;
      padding-bottom: 80px;
      width: 40%;
    }
    &__maps {
      width: 60%;
    }
  }
}
