@import "../abstracts/mixins";
.detail-section {
  padding: 60px 0;

  &__images-container {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  &__image-squares {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
  }

  @include imageRatio(1, 1);
  &__image-container {
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    overflow: hidden;
  }
  @media (min-width: 992px) {
    padding: 80px 0;
    &__image-squares {
      max-width: 200px;
    }
  }
}
